<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="shadowDirect" connectionString="DRIVER=DataDirect Shadow Client 7.3;HOST=127.0.0.1;PORT=8231;DB=databaseName;UID=userid;PWD=pwd"/>
</connectionStrings>
</configuration>